/.settings
/conf
/bochs.log
/.bochsrc-debug
/.bochsrc
/.cproject
/.gdbinit
/.project
/BIOS-bochs-latest
/BIOS-bochs-latest_2-3
/bochscon.bat
/coding
/FOS_Developer_Console.bat
/GNUmakefile
/grade.sh
/Readme_Project_Port_to_ModernGCC.txt
/stdout
/UpgradeLog.XML
/VGABIOS-lgpl-latest
Makefrag
/obj